<div class="home-container d-flex align-items-center justify-content-center">
  <div class="hero-section text-center p-5 shadow-lg">
    <mat-icon class="home-logo icon-render fallback-star">fort</mat-icon>

    <h1 class="display-3 fw-bold text-primary mb-3">Fuyez pauvres fous</h1>

    <p class="lead mb-5 text-muted">
      Forgez vos compétences, maîtrisez les langages anciens et devenez le héros de votre propre
      code.
    </p>

    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
      <button mat-flat-button color="primary" class="px-5 py-4 btn-lg fs-5" routerLink="/trainings">
        <mat-icon class="me-2">auto_stories</mat-icon>
        Parcourir le Grimoire
      </button>

      <button mat-stroked-button color="accent" class="px-5 py-4 btn-lg fs-5" routerLink="/cart">
        <mat-icon class="me-2">shopping_bag</mat-icon>
        Voir mes Quêtes
      </button>
    </div>

    <div class="mt-5 pt-5 border-top opacity-50">
      <small><i>"Le code est une magie que l'on finit par comprendre."</i></small>
    </div>
  </div>
</div>
